
editor {
  font: 10pt monospace;
  overflow: auto;
  height: 180pt;
}

#editor>#editarea {
  position: fixed;
  border: none;
  width: 460pt;
  height: 180pt;
  margin: 0 0;
  border: solid green 1px;
}

#editor .comment { color: green; }
#editor .keyword { color: blue; }
#editor .number { color: brown; }
#editor .quoted { color: magenta; }

