
#console {
  font: 10pt "courier new", monospace;
  overflow: auto;
}

#console>#output {
  white-space: pre;
  white-space: -moz-pre-wrap;
  margin: 0 2pt;
}

#console>#commandline>#prompt {
  color: purple;
  float: left;
  margin-left: 2pt;
}

#console>#commandline>#input {
  width: 430pt;
  overflow: auto;
  margin-left: 12pt;
}

.input {
  color: blue;
  font: inherit;
  font-weight: bold;
}

#output>.normalOutput { color: green; }
#output>.print { color: black; }
#output>.error { color: brown; }
#output>.propList { color: gray; }
#output>.message { color: gray; }
#output>.tabcomplete { color: purple; }
